<template name="createQuizStart">
	<div class="jumbotron col-md-8 col-md-offset-2">
		
		<span><h3> <a class="btn btn-primary btn-lg startCreate" href="#" role="button">Create</a> new quiz</h3></span>

		<form class="form-inline" role="form">
	        <div class="form-group">
				<span><h3>..or join an existing one</h3><input type="text" class="form-control" id="input_code" placeholder="Code">
				<button type="button" class="btn btn-primary btn-lg enterRoom">Enter</button></span>
			</div>


			
		</form>
	</div>

</template>