<template name="gameplay">
	
		{{#if isAdmin}}
		<div class="gameplayAdmin">

			{{#if isFinished}}
				{{#each scoreList}}
					<h3>{{nick}} - {{time}}</h3>
				{{/each}}

				<button type="submit" class="btn btn-primary finish">Finish</button>
			{{else}}
			<div class="row">
			
		      	<div class="question">
		      		{{>SvgCircleProgress radius=30 total=15 progress=timeLeft bgColor="grey" progressColor="rgba(255,255,255,0.8)"}}
		      		<!--<h3>{{timeLeft}}</h3>-->
		      		<h1>{{question}}</h1>

		      		{{numberFinished}}/{{numberPlayers}}
		      	</div>
			</div>
					<div class="row">
					  	<div class="jumbotron col-md-5 alt1">
					    	<h2>{{alt1}}</h2>
					  	</div>
					  	<div class="col-md-2"></div>
					  	<div class="jumbotron col-md-5 alt2">
					       	<h2>{{alt2}}</h2>
					  	</div>
					</div>
					<div class="row">
					  	<div class="jumbotron col-md-5 alt3">
					        <h2>{{alt3}}</h2>
					  	</div>
					  	<div class="col-md-2"></div>
					  	<div class="jumbotron col-md-5 alt4">
					        <h2>{{alt4}}</h2>
					  	</div>
					</div>

					<button type="submit" class="btn btn-primary next">Next</button>
			{{/if}}
		</div>

		{{else}}

			{{#if isFinished}}
				<h1>Quiz finished</h1>

			{{else}}
				<div class="square">
		
				  	<div class="sq alt1_client">
					</div>
				  	<div class="sq alt2_client">
				  	</div>
				
				  	<div class="sq alt3_client">
				  	</div>

				  	<div class="sq alt4_client">
				  	</div>
				</div>
			{{/if}}
		{{/if}}

</template>





<template name="gameplay2">
	
		{{#if isAdmin}}
		<div class="jumbotron col-md-12">

			{{#if isFinished}}
				{{#each scoreList}}
					<h3>{{nick}} - {{time}}</h3>
				{{/each}}

				<button type="submit" class="btn btn-primary finish">Finish</button>
			{{else}}
			<div class="row">
			
		      	<div class="col-lg-10 question">
		      		{{>SvgCircleProgress radius=30 total=15 progress=timeLeft bgColor="grey" progressColor="rgba(255,255,255,0.8)"}}
		      		<!--<h3>{{timeLeft}}</h3>-->
		      		<h1>{{question}}</h1>
		      	</div>
			</div>
					<div class="row">
					  	<div class="jumbotron col-md-5 alt1">
					    	<h2>{{alt1}}</h2>
					  	</div>
					  	<div class="col-md-2"></div>
					  	<div class="jumbotron col-md-5 alt2">
					       	<h2>{{alt2}}</h2>
					  	</div>
					</div>
					<div class="row">
					  	<div class="jumbotron col-md-5 alt3">
					        <h2>{{alt3}}</h2>
					  	</div>
					  	<div class="col-md-2"></div>
					  	<div class="jumbotron col-md-5 alt4">
					        <h2>{{alt4}}</h2>
					  	</div>
					</div>

					<button type="submit" class="btn btn-primary next">Next</button>
			{{/if}}
		</div>

		{{else}}

			{{#if isFinished}}
				<h1>Quiz finished</h1>

			{{else}}
				<div class="square">
		
				  	<div class="sq alt1_client">
					</div>
				  	<div class="sq alt2_client">
				  	</div>
				
				  	<div class="sq alt3_client">
				  	</div>

				  	<div class="sq alt4_client">
				  	</div>
				</div>
			{{/if}}
		{{/if}}

</template>