<template name="home">

	<div class="jumbotron col-md-8 col-md-offset-2">
		<h3>Enter game code:</h3>
		<form class="form-inline" role="form">
	        <div class="form-group">
	            <label class="sr-only">Code</label>
	            <input type="text" class="form-control" id="input_code" placeholder="Code">
	        </div>


	        <button type="button" class="btn btn-primary enterRoom">Enter</button>

	    </form>

	    <div class="form-group">
				<span><h3>..reset game</h3><input type="text" class="form-control" id="input_code2" placeholder="Code">
				<button type="button" class="btn btn-primary btn-lg reset">reset</button></span>
			</div>
	</div>

</template>