<template name="home">

	<div class="enterCode">
		<div class="input-append">
	            <input type="text" class="form-control" id="input_code" placeholder="Code">
	            <br>
	        	<button type="button" class="btn btn-primary enterRoom">Enter</button>
	    </div>
	</div>

</template>

<template name="home2">

	
	<div class="jumbotron col-md-8 col-md-offset-2">
		<h3>Enter game code:</h3>
		<form class="form-inline" role="form">
	        <div class="form-group">
	            <label class="sr-only">Code</label>
	            <input type="text" class="form-control" id="input_code" placeholder="Code">
	        </div>


	        <button type="button" class="btn btn-primary enterRoom">Enter</button>

	    </form>

	</div>

</template>